.card {
  width: 350px;
  /* height: 350px; */
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.image-container {
  margin-top: 15px;
  /* width: 100%; */
  /* height: 20px; */
}

.image-container img {
  width: 100%;
  border-radius: 10px;
}

.like-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  position: relative;
  right: 80px;
}

.like-section button {
  font-size: 22px;
  border: none;
  background: none;
  cursor: pointer;
  color: gray;
}

.like-section button.liked {
  color: red;
}

.comment-section {
  margin-top: 20px;
}

.comment-section input {
  width: 90%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.comment-section button {
  padding: 8px 12px;
  /* margin-left: 0px; */
  width: 95%;
  border: none;
  /* padding-top: 5px; */
  margin-top: 10px;
  background: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.comments {
  margin-top: 15px;
}

.comments p {
  background: #f1f1f1;
  padding: 6px;
  border-radius: 6px;
  margin-bottom: 5px;
}